[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"

[packages]
stdci-tools = {editable = true,path = "."}
dockerfile-parse = "*"
ansible = "<2.9"
openshift = "*"

[requires]
python_version = "3"
