---
all:
  children:
    zuul_nodes:
      children:
        production:
          hosts:
            jenkins.ovirt.org:
            zuul01.phx.ovirt.org:
          vars:
            zuul_tenant: ovirt
            zuul_jobs_project: ovirt-zuul-config
            zuul_projects:
              - jenkins
              - ovirt-system-tests
        staging:
          hosts:
            jenkins-staging.phx.ovirt.org:
            zuul-staging.phx.ovirt.org:
          vars:
            zuul_tenant: ovirt-staging
            zuul_jobs_project: ovirt-staging-zuul-config
            zuul_projects:
              - stage-stdci1
              - stage-stdci2

        jenkins_masters:
          hosts:
            jenkins-staging.phx.ovirt.org:
            jenkins.ovirt.org:
        source_hosts:
          hosts:
            zuul-staging.phx.ovirt.org:
            zuul01.phx.ovirt.org:


