Subject: Change {{ change.presentable_id }} queued for testing

{% filter wordwrap -%}
Change {{ change.presentable_id }} was successfully added into the
"{{ queue_name }}" queue for testing. Further messages will be sent when test
results are available.
{%- endfilter %}
{% if change.url is not none %}
For further details about the change see:
{{ change.url }}
{% endif -%}
