{%- if change.id == cause.id -%}

Subject: Change {{ change.presentable_id }} failed system tests

{% filter wordwrap -%}
Change {{ change.presentable_id }} is probably the reason behind recent system
test failures in the "{{ qname }}" change queue and needs to be fixed.
{%- endfilter %}

{% filter wordwrap -%}
This change had been removed from the testing queue.
Artifacts build from this change will not be released until it is fixed.
{%- endfilter %}
{% if change.url is not none %}
For further details about the change see:
{{ change.url }}
{% endif -%}
{% if test_url is not none %}
For failed test results see:
{{ test_url }}
{% endif -%}

{%- else -%}

Subject: Change {{ change.presentable_id }} depends on a failed change

{% filter wordwrap -%}
Change {{ cause.presentable_id }} that this change depends on or
contains, was detected to cause testing failures by the "{{ qname }}"
change queue.
{%- endfilter %}

{% filter wordwrap -%}
This change had been removed from the testing queue.
Artifacts built from this change will not be released until the issue is fixed.
{%- endfilter %}
{% if change.url is not none %}
For further details about the change see:
{{ change.url }}
{% endif -%}
{% if change.id != cause.id and cause.url is not none %}
For further details about the change that caused the testing failures see:
{{ cause.url }}
{% endif -%}
{% if test_url is not none %}
For failed test results see:
{{ test_url }}
{% endif -%}

{%- endif -%}
