Subject: [CQ]: {{ change.presentable_id }} queued for "{{ qname }}" testing

{% filter wordwrap -%}
Change {{ change.presentable_id }} was successfully added into the
"{{ qname }}" queue for testing. Further messages will be sent when test
results are available.
{%- endfilter %}
{% if change.url is not none %}
For further details about the change see:
{{ change.url }}
{% endif -%}
