[Unit]
Description=Copy environment from PID 1 to a well known location

[Service]
Type=oneshot
ExecStart=/usr/sbin/export_environment /etc/ci-container.environment

[Install]
WantedBy=multi-user.target
