[Unit]
Description=Start JNLP service to connect as a slave
Requires=mk-shared-slot.service jenkins-home.service ci-environment.service
After=mk-shared-slot.service jenkins-home.service ci-environment.service
Requires=local-fs.target
After=local-fs.target

[Service]
EnvironmentFile=/etc/ci-container.environment
User=jenkins
ExecStart=/usr/bin/java -jar "${JENKINS_AGENT_WORKDIR}/agent.jar" \
    -jnlpUrl "${JENKINS_URL}/computer/${JENKINS_AGENT_NAME}/slave-agent.jnlp" \
    -secret "${JENKINS_SECRET}" \
    -workDir "${JENKINS_AGENT_WORKDIR}"
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
