[Unit]
Description=Setup jenkins runtime environment
Requires=ci-environment.service home-jenkins.mount
After=ci-environment.service home-jenkins.mount

[Service]
Type=oneshot
EnvironmentFile=/etc/ci-container.environment
ExecStart=/usr/sbin/useradd \
    -G mock \
    -d ${JENKINS_AGENT_WORKDIR} \
    ${CI_RUNTIME_UNAME}
ExecStartPost=/usr/bin/chmod +x /agent.jar
ExecStartPost=/usr/bin/mv /agent.jar ${JENKINS_AGENT_WORKDIR}/agent.jar
ExecStartPost=/usr/bin/chown -R ${CI_RUNTIME_UNAME}:${CI_RUNTIME_UNAME} \
    ${JENKINS_AGENT_WORKDIR}

[Install]
WantedBy=multi-user.target
