[Unit]
Description=Lock on container slot

[Service]
Type=forking
ExecStart=/usr/sbin/lock_on_slot
PIDFile=/var/run/lock-on-slot.pid

[Install]
WantedBy=multi-user.target