[Unit]
Description=Ensure that shared slot exists and prepare it for usage
After=lock-on-slot.service ci-environment.service
Requires=lock-on-slot.service ci-environment.service

[Service]
Type=oneshot
EnvironmentFile=/etc/ci-container.environment
ExecStart=/usr/bin/mkdir -p ${CONTAINER_SLOTS}/shared
ExecStart=/usr/bin/mkdir -p /slt/var/cache/mock
ExecStart=/usr/bin/mkdir -p /slt/var/lib/mock
ExecStart=/usr/bin/mkdir -p /slt/var/lib/lago
ExecStart=/usr/bin/mkdir -p /slt/var/lib/docker

[Install]
WantedBy=multi-user.target
