[Unit]
Description=Mount mock lib dir
Requires=mk-shared-slot.service
After=mk-shared-slot.service

[Mount]
What=/slt/var/lib/mock
Where=/var/lib/mock
Options=bind

[Install]
WantedBy=multi-user.target
