[Unit]
Description=Mount lago dirs
Requires=mk-shared-slot.service
After=mk-shared-slot.service

[Mount]
What=/slt/var/lib/lago
Where=/var/lib/lago
Options=bind

[Install]
WantedBy=multi-user.target
