[Unit]
Description=Mount docker dirs
Requires=mk-shared-slot.service
After=mk-shared-slot.service

[Mount]
What=/slt/var/lib/docker
Where=/var/lib/docker
Options=bind

[Install]
WantedBy=multi-user.target
