[Unit]
Description=Mount mock cache dir
Requires=mk-shared-slot.service
After=mk-shared-slot.service

[Mount]
What=/slt/var/cache/mock
Where=/var/cache/mock
Options=bind

[Install]
WantedBy=multi-user.target
