config_opts['root'] = 'fedora-30-x86_64'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'install @buildsys-build'
config_opts['dist'] = 'fc30'  # only useful for --resultdir variable subst
config_opts['extra_chroot_dirs'] = [ '/run/lock', ]
config_opts['releasever'] = '30'

config_opts['environment']['http_proxy'] = 'http://proxy01.phx.ovirt.org:3128'
config_opts['environment']['no_proxy'] = 'localhost,127.0.0.1'
config_opts['use_bootstrap_container'] = True
config_opts['package_manager'] = 'dnf'
config_opts['dnf_warning'] = False

config_opts['yum.conf'] = """
[main]
keepcache=1
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=
install_weak_deps=0
metadata_expire=0
best=1
module_platform_id=platform:f30
proxy=http://proxy01.phx.ovirt.org:3128

# repos

[fedora-base-fc30]
name=fedora
baseurl=http://mirrors.rit.edu/fedora/fedora/linux/releases/30/Everything/x86_64/os/
 https://sjc.edge.kernel.org/fedora-buffet/fedora/linux/releases/30/Everything/x86_64/os/
gpgkey=file:///usr/share/distribution-gpg-keys/fedora/RPM-GPG-KEY-fedora-30-primary
gpgcheck=1

[fedora-updates-fc30]
name=updates
baseurl=http://mirrors.rit.edu/fedora/fedora/linux/updates/30/Everything/x86_64/
 https://sjc.edge.kernel.org/fedora-buffet/fedora/linux/updates/30/Everything/x86_64/
gpgkey=file:///usr/share/distribution-gpg-keys/fedora/RPM-GPG-KEY-fedora-30-primary
gpgcheck=1
"""

