---
jenkins:
  authorizationStrategy:
    globalMatrix:
      grantedPermissions:
        - Overall/Read:anonymous
        - Job/Read:anonymous
        - Job/Discover:anonymous
        - View/Read:anonymous
        - Overall/Administer:admin
